<%= render(partial: 'partials/menu', locals: { title: 'Resend confirmation', path: nil }) %>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <h2>Account email</h2>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  <%= f.submit "Resend confirmation" %>
<% end %>
<%= render "devise/shared/links" %>
