<%= form_with model: Comment, url: user_post_comments_path do |form| %>
  <h2>Comment information</h2>
  <%= render(partial: 'partials/errors') %>
  <%= form.label :text, 'Comment' %>
  <%= form.text_field :text %>
  <%= form.submit 'Send' %>
<% end %>