<article class="post">
  <h2><%= post.title %> by <%= post.user.name %></h2>
  <p><%= post.text %></p>
  <i>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></i>
  <%= link_to('Details', user_post_path(post.user.id, post.id)) unless defined?(details) %>
  <% if defined?(comments) %>
  <ul>
    <%= render(partial: 'comments/comment', collection: defined?(details) ? post.comments : post.recent_comments) %>
  </ul>
  <% end %>
</article>